html{
	margin: 0;
	/*width: 100%;
	height: 100%;*/
}

body{
	margin: 0;
	background-color: #fff;
	background-size: cover;
	padding-bottom: 50px;
	/*width: 100%;
	height: 100%;*/
}
.fangkuai{
	background-color: #ffffff;
	border-radius: 10px;
	margin:14px auto;
	width:86%;
	text-align: center;
	padding: 20px 8px;
}
#title{
	padding-top: 30px;
	font-size: 34px;
}
.fangkuai1{

	background-color: #ffcc33;
	border-radius: 30px;
	width:130px;
	height:130px;
	margin:0 auto;
	margin-top: 70px;
}
.help{
	margin: 25px auto;
	text-align: center;
	font-size: 12px;	
}
.help img{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
}
#he{
	margin-left: -160px;
	
}
#lp{
	margin-top: -20px;
	margin-left: 28px;
	padding-left: 10px;
	color: #999999;
	font-size: 13px;
}
#zheng {
    color:#31373F;
    }
#mi{
	color:red;
    text-decoration: none;
	}
.fangshi{
	width:80%;
	margin:0 auto;
	font-size:12px;
	line-height: 24px;
}
.fangchenme{
	font-size: 14px;
     width:100%;
	color:#31373F;
	margin:10px auto;
	text-align: left;
}

.fangshi1{
    padding: 10px;
    text-align: left;
}
.fangshi2{
	margin-left: 3%;
	  text-align: left;
    padding: 25px 10px 20px 20px;
}
.fangshi2 .bindCard{
	text-align: center;
}
#tuijian{	
  text-align: right;
  margin-top: -60px;
}
#shoujihao{
margin-top: 25px;
font-weight:100;
font-size: 15px;}
#biaodan{
height:30px;	
border-radius:5px;
border: 0px solid #31373F;
font-size: 15px;
text-indent: 5px;
}
#yanzheng{
	height:32px;
	font-size: 14px;
	border-radius:10px;
	margin-left: 5px;
	border: none;
	color: #9882FF;
	background-color: #ffffff;
}
#tijiao1{
	display: block;
	width: 236px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 19px;
	background-color: #9882FF;
	color: #fff;
	margin: 40px auto 0;
	font-weight: normal;
    font-size: 15px;
}
#tijiao{

	/*margin-top: 20px;
	color: #ffffff;
	width:250px;
	height: 30px;
	border-radius:10px ;
	border: 0;
	background-color:#ffcc33;*/
}
.fangshi0{
	font-size: 15px;
	font-weight:900;
}

#shimingbt{
	margin-top: 20px;
	color: #ffffff;
	width:300px;
	height: 70px;
	border-radius:50px ;
	border: 0;
	background-color:#e8454f;
	font-size: 30px;
}
#yuan{
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background-color:#9882FF;
    position: absolute;
    left: 0;
    top: 6px;
}


      /*背景层*/
        #popLayer {
            display: none;
            background-color: #000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            -moz-opacity: 0.65;
            opacity:.65;
            height:500%;
            filter: alpha(opacity=65);/* 只支持IE6、7、8、9 */
        }
        #shenfenjiachat{
        	text-align: center;
        	margin-top: -50px;
        	}
        #hedui{
        	font-size: 15px;
        	width:80%;
        	margin-left: 10%;
        	background-color: #ffffff;
        	}
        #xinxit{
        	margin-left: 10%;
        	color:#999999;
        	font-size: 15px;
        	margin-top: 15px;
        	}	
        #xinxis{
        	color: #00000;
        }
        #shenfens{
        	color:#31373F;
        }
        #chongxintianxie{
    	   	line-height:50px;
            border-bottom-left-radius:10px;
        	height:50px;
        	color:#818181;
        	font-size:15px;
        	width: 50%;
        	background-color: #dddddd;
        	text-align: center;
        	margin-top: 25px;
        }
        #querentijiao{
             line-height:50px;
        	border-bottom-right-radius:10px;	
        	margin-top: -50px;
        	width:50%;
        	margin-left: 50%;
        	height:50px;
        	color:#ffffff;
        	font-size: 15px;
        	background-color:#9882FF;
        	width: 50%;
        	text-align: center;
        }
        /*弹出层*/
        #popBox {
        	border-radius:10px;
            display: none;
            background-color: #ffffff;  
            z-index: 11;
            position:fixed;
            top:30%;
            right:0;
            left:0;
         
            margin:auto;
            text-align: left;
             width:80%
        }
        #piaozitishit{          	
        	 z-index: 11;
            position:fixed;
            top:70%;
        	right:0;
            left:0;
            margin:auto;
        	width: 50%;
            text-align: center;
         
        }
        #piaozitishi{
        
           	display: none;
        	border-radius:10px;
        	background-color: #666666;
        	 color:#ffffff;
            font-size: 15px;
            padding:10px;
          
        }
        #shimingjieguo{
        	border-radius:10px;
            display: none;
            background-color: #ffffff;  
            z-index: 11;
            position:fixed;
            top:30%;
            right:0;
            left:0;
         
            margin:auto;
            text-align: center;
             width:80%
        }
        #cuowuduihou{
        	margin-top: -40px;
        }
        #cuoduitishi{
        	 width:55%;
        	 margin-left:22.5%;
        	 font-size: 15px;
        	 padding-top: 25px;
             padding-bottom: 25px;
        }
     	#zhidaole{
     		display: block;
		    width: 236px;
		    height: 38px;
		    line-height: 38px;
		    text-align: center;
		    border-radius: 19px;
		    background-color: #EDEDED;
		    color: #9882FF;
		    font-weight: normal;
		    font-size: 15px;
		    margin: 0 auto 25px;
      	}
      	#bdcgsj{
      	margin-top: 25px;
        font-size: 13px;
         display: none;  
          font-weight: 100; 
          text-align: center;
      	}
      	#bdcgsfz{
      	margin-top: 25px;
        font-size: 13px;
        display: none;
        font-weight: 100;
        text-align: center;
      	}
      	#shenfenrzgc{
      		 display: block;
      	}
      	#shoujirzgc{
      		 display: block;
      	}
      	#duanluo{
      		text-align: left;
      		width: 90%;
      		padding-left: 7%;
      		position: relative;
      		font-size: 14px;
  			margin-top: 12px;
  			line-height: 18px;
      	}
      	.title{
      		margin-top: 25px;
      		font-weight:bold;
      	}
      	#zhu{
      		text-align: left;
      		width: 90%;
      	
      		padding-left: 7%;
      		font-size: 14px;
      			margin-top: 25px;
      		color:#999999;
      		position: relative;
      	}
      	#zhu span{
      		position: absolute;
      		left: 0;
    		top: 0;
      	}
      	#tuijantext{
      		font-size: 30px;
      		color: #ffffff;
      		font-weight: 600;
      		margin-top: -315px;
      		margin-right: -95px;
      		margin-bottom: 100px;
        	-webkit-transform: rotate(45deg);
   // -moz-transform: rotate(90deg);
    //-o-transform: rotate(90deg);
    //-ms-transform: rotate(90deg);
    //transform: rotate(90deg);
      		
      	}
      	#tijiaotest{
      		margin-top:-66px;
      		font-size: 30px;
      		color:#ffffff;
      		font-weight: 100;
      	}
      	
.bindPhone{
	text-align: center;
}
.bindPhone img{
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	margin:0 0 2px 7px;
}
