<script>

    var productLinkCategoryAttr = eval ({$productLinkCategoryAttr});
    function initCategoryAttrPara(obj){
        var checkBoxHtml = "";
        for(var i= 0 ;i <obj.length;i++){
            checkBoxHtml += "<div  >" + obj[i]['name'] ;

            if(obj[i]['para']){
                for(var j= 0 ;j <obj[i]['para'].length;j++){
                    checkBoxHtml += "<input type='radio' name='categoryAttrPara_"+obj[i]['id']+"' value=" + obj[i]['para'][j]['id'] + " />&nbsp;"+obj[i]['para'][j]['name'];
                }
            }

            checkBoxHtml += "</div>";
        }
        // var replaceHtml = $("#categoryAttrPara").html();
        // alert(replaceHtml);
        // replaceHtml = replaceHtml.replace("|checkbox|",checkBoxHtml);

        $("#categoryAttrPara").html(checkBoxHtml);
    }
    initCategoryAttrPara(productLinkCategoryAttr);

</script>